In [4]:
i = 5
print(i)

5

In [9]:
# copilot generated
def load_csv_to_df(path):
    import pandas as pd
    return pd.read_csv(path)

df = load_csv_to_df('data.csv')
print(df.head())

   num1  num2  code
0    12    87  ABCD
1    45     3  WXYZ
2    78    56  LMNO
3     9   100  QRST
4    33    21  UVWX

In [ ]:
# clean data file, ensure no missing values, 
# no negative values.

# Grok-generated and then edited

df_clean = df.dropna()
df_clean = df_clean[(df_clean['num1'] >= 0) & (df_clean['num2'] >= 0)]  # Keep only rows where num1 and num2 are non-negative
print(df_clean.describe())  # Optional: print the cleaned dataframe head

            num1        num2
count  10.000000   10.000000
mean   41.400000   46.600000
std    29.504049   34.878201
min     5.000000    3.000000
25%    15.750000   12.750000
50%    39.000000   50.000000
75%    60.750000   70.250000
max    90.000000  100.000000

In [5]:
for i in range(0,5):
    print(i)

0
1
2
3
4

## This is markdown

Like this.

In [6]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    fruits.remove(fruit)
print(fruits)

['banana']

In [7]:
# another cell not run
print("Hello, World!")

Hello, World!